IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashClk" 59;
IO_PORT "flashClk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMiso" 62;
IO_PORT "flashMiso" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMosi" 61;
IO_PORT "flashMosi" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashCs" 60;
IO_PORT "flashCs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;
